@import '../../../../styles/colors.module';


#AppBarLoginDesktop {
  .active {
    & > div {
      background: $backgroundPrimary;
      color: $textWhite;
      .icon {
        svg {
          color: $textWhite;
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: $textBlack;
  }

}